In [69]:
import pandas as pd
import numpy as np
import tensorflow
import regression_model

ModuleNotFoundError: No module named 'regression_model'

In [70]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [54]:
concrete_data.shape

(1030, 9)

In [55]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [56]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [57]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [58]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [59]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [71]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [72]:
import keras

In [73]:
from keras.models import Sequential
from keras.layers import Dense

In [74]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [77]:
model = regression_model()

In [78]:

epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 5s 7ms/step - loss: 44120.2422
Epoch 2/50
23/23 [==============================] - 0s 4ms/step - loss: 16279.2119
Epoch 3/50
23/23 [==============================] - 0s 5ms/step - loss: 13703.7363
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 11286.7520
Epoch 5/50
23/23 [==============================] - 0s 3ms/step - loss: 9361.1777
Epoch 6/50
23/23 [==============================] - 0s 4ms/step - loss: 7685.6172
Epoch 7/50
23/23 [==============================] - 0s 4ms/step - loss: 6213.0449
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 4989.1699
Epoch 9/50
23/23 [==============================] - 0s 3ms/step - loss: 3937.8149
Epoch 10/50
23/23 [==============================] - 0s 3ms/step - loss: 3086.1057
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 2414.9180
Epoch 12/50
23/23 [==============================] - 0s 3ms/step - loss: 1915.0459
Epoch 13/50
23/23 [==============================] - 0s 6ms/step - loss: 1519.4310
Epoch 14/50
23/23 [==============================] - 0s 5ms/step - loss: 1226.0331
Epoch 15/50
23/23 [==============================] - 0s 3ms/step - loss: 1000.3350
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 841.7401
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 715.5305
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 625.9555
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 569.0093
Epoch 20/50
23/23 [==============================] - 0s 3ms/step - loss: 495.5409
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 460.0343
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 418.3642
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 388.5674
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 363.5416
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 338.5211
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 313.5345
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 295.1488
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 277.6840
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 261.3857
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 253.1649
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 240.4243
Epoch 32/50
23/23 [==============================] - 0s 3ms/step - loss: 224.5048
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 215.8100
Epoch 34/50
23/23 [==============================] - 0s 6ms/step - loss: 203.4166
Epoch 35/50
23/23 [==============================] - 0s 6ms/step - loss: 197.2308
Epoch 36/50
23/23 [==============================] - 0s 5ms/step - loss: 192.6967
Epoch 37/50
23/23 [==============================] - 0s 4ms/step - loss: 181.4003
Epoch 38/50
23/23 [==============================] - 0s 4ms/step - loss: 176.2904
Epoch 39/50
23/23 [==============================] - 0s 3ms/step - loss: 170.2670
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 165.1873
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 161.5355
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 159.0503
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 153.4853
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 150.2243
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 149.9552
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 151.3783
Epoch 47/50
23/23 [==============================] - 0s 3ms/step - loss: 142.8266
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 139.3495
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 136.6882
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 138.3985

In [79]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 136.7716

136.7716064453125

In [80]:
from sklearn.metrics import mean_squared_error

In [81]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

136.77162229509204 0.0

In [82]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 94.617919921875
MSE 2: 123.24147033691406
MSE 3: 109.25263214111328
MSE 4: 145.99098205566406
MSE 5: 127.91260528564453
MSE 6: 112.0759506225586
MSE 7: 129.54293823242188
MSE 8: 98.44427490234375
MSE 9: 121.45893859863281
MSE 10: 124.58580780029297
MSE 11: 101.32315063476562
MSE 12: 102.58750915527344
MSE 13: 126.22808074951172
MSE 14: 113.44833374023438
MSE 15: 105.30271911621094
MSE 16: 108.92464447021484
MSE 17: 101.52149963378906
MSE 18: 95.73493194580078
MSE 19: 127.8463134765625
MSE 20: 125.4716567993164
MSE 21: 84.53515625
MSE 22: 95.08949279785156
MSE 23: 87.44863891601562
MSE 24: 78.70638275146484
MSE 25: 70.68470764160156
MSE 26: 85.66743469238281
MSE 27: 77.23304748535156
MSE 28: 57.99012756347656
MSE 29: 68.16535186767578
MSE 30: 57.49910354614258
MSE 31: 57.121971130371094
MSE 32: 51.948333740234375
MSE 33: 47.89884948730469
MSE 34: 49.289642333984375
MSE 35: 52.5974235534668
MSE 36: 58.862003326416016
MSE 37: 53.82475662231445
MSE 38: 57.83586120605469
MSE 39: 71.61573028564453
MSE 40: 45.21730422973633
MSE 41: 56.226131439208984
MSE 42: 46.08708190917969
MSE 43: 47.59507369995117
MSE 44: 58.49761199951172
MSE 45: 53.20200729370117
MSE 46: 55.49937438964844
MSE 47: 51.71055603027344
MSE 48: 51.717559814453125
MSE 49: 53.12446212768555
MSE 50: 54.42683792114258


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 82.65660078945865
Standard Deviation: 29.51468525467602