In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [16]:
model = regression_model()

In [17]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1575.1465 - 1s/epoch - 49ms/step
Epoch 2/50
23/23 - 0s - loss: 1555.4930 - 49ms/epoch - 2ms/step
Epoch 3/50
23/23 - 0s - loss: 1536.3721 - 50ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1517.0585 - 56ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 1498.1230 - 58ms/epoch - 3ms/step
Epoch 6/50
23/23 - 0s - loss: 1478.7689 - 85ms/epoch - 4ms/step
Epoch 7/50
23/23 - 0s - loss: 1459.1024 - 109ms/epoch - 5ms/step
Epoch 8/50
23/23 - 0s - loss: 1438.9757 - 99ms/epoch - 4ms/step
Epoch 9/50
23/23 - 0s - loss: 1418.4371 - 64ms/epoch - 3ms/step
Epoch 10/50
23/23 - 0s - loss: 1397.3157 - 53ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 1375.5745 - 49ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 1353.0789 - 47ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 1330.2336 - 41ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 1306.9885 - 43ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 1282.6566 - 43ms/epoch - 2ms/step
Epoch 16/50
23/23 - 0s - loss: 1258.1720 - 59ms/epoch - 3ms/step
Epoch 17/50
23/23 - 0s - loss: 1233.0809 - 57ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 1207.5118 - 48ms/epoch - 2ms/step
Epoch 19/50
23/23 - 0s - loss: 1181.4122 - 51ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 1155.6067 - 49ms/epoch - 2ms/step
Epoch 21/50
23/23 - 0s - loss: 1129.1649 - 42ms/epoch - 2ms/step
Epoch 22/50
23/23 - 0s - loss: 1103.0361 - 51ms/epoch - 2ms/step
Epoch 23/50
23/23 - 0s - loss: 1076.7792 - 51ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 1049.9342 - 72ms/epoch - 3ms/step
Epoch 25/50
23/23 - 0s - loss: 1023.6867 - 83ms/epoch - 4ms/step
Epoch 26/50
23/23 - 0s - loss: 997.0674 - 91ms/epoch - 4ms/step
Epoch 27/50
23/23 - 0s - loss: 970.2409 - 105ms/epoch - 5ms/step
Epoch 28/50
23/23 - 0s - loss: 944.3626 - 171ms/epoch - 7ms/step
Epoch 29/50
23/23 - 0s - loss: 918.3903 - 111ms/epoch - 5ms/step
Epoch 30/50
23/23 - 0s - loss: 892.2578 - 96ms/epoch - 4ms/step
Epoch 31/50
23/23 - 0s - loss: 867.1128 - 162ms/epoch - 7ms/step
Epoch 32/50
23/23 - 0s - loss: 842.2679 - 94ms/epoch - 4ms/step
Epoch 33/50
23/23 - 0s - loss: 817.8055 - 128ms/epoch - 6ms/step
Epoch 34/50
23/23 - 0s - loss: 793.7463 - 105ms/epoch - 5ms/step
Epoch 35/50
23/23 - 0s - loss: 770.5692 - 71ms/epoch - 3ms/step
Epoch 36/50
23/23 - 0s - loss: 747.6882 - 66ms/epoch - 3ms/step
Epoch 37/50
23/23 - 0s - loss: 725.5814 - 72ms/epoch - 3ms/step
Epoch 38/50
23/23 - 0s - loss: 703.7693 - 75ms/epoch - 3ms/step
Epoch 39/50
23/23 - 0s - loss: 682.9443 - 81ms/epoch - 4ms/step
Epoch 40/50
23/23 - 0s - loss: 662.0632 - 76ms/epoch - 3ms/step
Epoch 41/50
23/23 - 0s - loss: 642.3547 - 88ms/epoch - 4ms/step
Epoch 42/50
23/23 - 0s - loss: 623.2181 - 113ms/epoch - 5ms/step
Epoch 43/50
23/23 - 0s - loss: 604.1822 - 85ms/epoch - 4ms/step
Epoch 44/50
23/23 - 0s - loss: 585.6515 - 138ms/epoch - 6ms/step
Epoch 45/50
23/23 - 0s - loss: 567.5103 - 163ms/epoch - 7ms/step
Epoch 46/50
23/23 - 0s - loss: 549.7762 - 113ms/epoch - 5ms/step
Epoch 47/50
23/23 - 0s - loss: 531.9290 - 78ms/epoch - 3ms/step
Epoch 48/50
23/23 - 0s - loss: 514.9087 - 57ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 497.6427 - 52ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 480.9915 - 45ms/epoch - 2ms/step

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 3ms/step - loss: 496.5352

496.53515625

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

496.53518410801973 0.0

In [21]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 103.62446594238281
MSE 2: 81.9334945678711
MSE 3: 54.97097396850586
MSE 4: 42.419368743896484
MSE 5: 42.45637512207031
MSE 6: 44.21978759765625
MSE 7: 44.23292922973633
MSE 8: 33.28982162475586
MSE 9: 37.294403076171875
MSE 10: 36.84433364868164
MSE 11: 37.964569091796875
MSE 12: 33.90507888793945
MSE 13: 42.807090759277344
MSE 14: 42.57102584838867
MSE 15: 35.842403411865234
MSE 16: 32.147884368896484
MSE 17: 37.81715393066406
MSE 18: 36.7864990234375
MSE 19: 35.29607009887695
MSE 20: 36.41325759887695
MSE 21: 34.77455139160156
MSE 22: 35.031524658203125
MSE 23: 30.908222198486328
MSE 24: 34.68570327758789
MSE 25: 36.855628967285156
MSE 26: 36.041934967041016
MSE 27: 33.35251235961914
MSE 28: 33.48100280761719
MSE 29: 40.15192794799805
MSE 30: 38.201576232910156
MSE 31: 32.80680465698242
MSE 32: 33.51927185058594
MSE 33: 34.20274353027344
MSE 34: 35.229732513427734
MSE 35: 34.41106033325195
MSE 36: 42.856605529785156
MSE 37: 31.510574340820312
MSE 38: 37.78483200073242
MSE 39: 36.78720474243164
MSE 40: 31.356176376342773
MSE 41: 38.20499801635742
MSE 42: 28.97406578063965
MSE 43: 36.80759048461914
MSE 44: 38.11658477783203
MSE 45: 37.523555755615234
MSE 46: 38.117958068847656
MSE 47: 33.77310562133789
MSE 48: 36.904563903808594
MSE 49: 37.64874267578125
MSE 50: 40.17331314086914


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 39.26062073571458
Standard Deviation: 11.941554657649036