In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import tensorflow
import regression_model

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [11]:
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [19]:
model = regression_model()

In [20]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1591.8444 - 735ms/epoch - 32ms/step
Epoch 2/50
23/23 - 0s - loss: 1576.8259 - 39ms/epoch - 2ms/step
Epoch 3/50
23/23 - 0s - loss: 1561.4019 - 39ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1545.8417 - 55ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 1529.1952 - 47ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 1511.8547 - 37ms/epoch - 2ms/step
Epoch 7/50
23/23 - 0s - loss: 1493.3910 - 43ms/epoch - 2ms/step
Epoch 8/50
23/23 - 0s - loss: 1473.7885 - 46ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 1452.9741 - 56ms/epoch - 2ms/step
Epoch 10/50
23/23 - 0s - loss: 1430.8114 - 51ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 1407.4009 - 45ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 1382.8647 - 40ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 1356.8091 - 47ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 1329.1631 - 51ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 1300.6443 - 49ms/epoch - 2ms/step
Epoch 16/50
23/23 - 0s - loss: 1271.1802 - 38ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 1240.0897 - 55ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 1208.4232 - 129ms/epoch - 6ms/step
Epoch 19/50
23/23 - 0s - loss: 1175.9110 - 83ms/epoch - 4ms/step
Epoch 20/50
23/23 - 0s - loss: 1142.3406 - 57ms/epoch - 2ms/step
Epoch 21/50
23/23 - 0s - loss: 1107.6288 - 96ms/epoch - 4ms/step
Epoch 22/50
23/23 - 0s - loss: 1073.0247 - 91ms/epoch - 4ms/step
Epoch 23/50
23/23 - 0s - loss: 1037.5323 - 59ms/epoch - 3ms/step
Epoch 24/50
23/23 - 0s - loss: 1001.8118 - 44ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 966.2779 - 42ms/epoch - 2ms/step
Epoch 26/50
23/23 - 0s - loss: 930.3923 - 53ms/epoch - 2ms/step
Epoch 27/50
23/23 - 0s - loss: 894.9409 - 51ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 860.5046 - 50ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 825.8871 - 39ms/epoch - 2ms/step
Epoch 30/50
23/23 - 0s - loss: 792.2158 - 86ms/epoch - 4ms/step
Epoch 31/50
23/23 - 0s - loss: 759.7264 - 47ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 727.6281 - 45ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 696.5429 - 41ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 667.0739 - 54ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 638.4419 - 46ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 610.8454 - 51ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 584.6093 - 45ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 559.5098 - 95ms/epoch - 4ms/step
Epoch 39/50
23/23 - 0s - loss: 536.5132 - 84ms/epoch - 4ms/step
Epoch 40/50
23/23 - 0s - loss: 513.6268 - 108ms/epoch - 5ms/step
Epoch 41/50
23/23 - 0s - loss: 492.8164 - 68ms/epoch - 3ms/step
Epoch 42/50
23/23 - 0s - loss: 472.8372 - 67ms/epoch - 3ms/step
Epoch 43/50
23/23 - 0s - loss: 454.0978 - 58ms/epoch - 3ms/step
Epoch 44/50
23/23 - 0s - loss: 436.8693 - 69ms/epoch - 3ms/step
Epoch 45/50
23/23 - 0s - loss: 420.6767 - 53ms/epoch - 2ms/step
Epoch 46/50
23/23 - 0s - loss: 405.3390 - 61ms/epoch - 3ms/step
Epoch 47/50
23/23 - 0s - loss: 391.4136 - 130ms/epoch - 6ms/step
Epoch 48/50
23/23 - 0s - loss: 377.9792 - 101ms/epoch - 4ms/step
Epoch 49/50
23/23 - 0s - loss: 365.4368 - 81ms/epoch - 4ms/step
Epoch 50/50
23/23 - 0s - loss: 353.9918 - 61ms/epoch - 3ms/step

In [21]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 349.1329

349.13287353515625

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

349.1328945165327 0.0

In [24]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 150.2600555419922
MSE 2: 149.18739318847656
MSE 3: 101.03768157958984
MSE 4: 85.3689956665039
MSE 5: 68.91183471679688
MSE 6: 63.64455795288086
MSE 7: 59.23717498779297
MSE 8: 45.344566345214844
MSE 9: 48.700843811035156
MSE 10: 47.22867965698242
MSE 11: 46.17979049682617
MSE 12: 43.370811462402344
MSE 13: 50.65498733520508
MSE 14: 49.02488327026367
MSE 15: 43.84056091308594
MSE 16: 40.28573989868164
MSE 17: 43.29680252075195
MSE 18: 42.427764892578125
MSE 19: 40.21699905395508
MSE 20: 42.725467681884766
MSE 21: 40.3950309753418
MSE 22: 39.76492691040039
MSE 23: 37.89466094970703
MSE 24: 41.84828567504883
MSE 25: 43.46868896484375
MSE 26: 42.51171112060547
MSE 27: 41.78719711303711
MSE 28: 40.00592041015625
MSE 29: 45.92351150512695
MSE 30: 42.891021728515625
MSE 31: 42.0670166015625
MSE 32: 39.198158264160156
MSE 33: 39.83655548095703
MSE 34: 44.68500900268555
MSE 35: 41.63836669921875
MSE 36: 47.054664611816406
MSE 37: 42.84950637817383
MSE 38: 45.59565734863281
MSE 39: 43.08190155029297
MSE 40: 39.00572967529297
MSE 41: 45.262969970703125
MSE 42: 38.863006591796875
MSE 43: 40.55837631225586
MSE 44: 47.11909866333008
MSE 45: 47.0836181640625
MSE 46: 46.64842987060547
MSE 47: 42.98394012451172
MSE 48: 43.256526947021484
MSE 49: 45.69682693481445
MSE 50: 48.27061080932617


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 50.96385002266571
Standard Deviation: 23.045605470958094